<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.hrm.scripts.TestJobTitle"/>
      <class name="com.hrm.scripts.VerifyFromDate"/>
      <class name="com.hrm.scripts.TestNoRecordFound"/>
      <class name="com.hrm.scripts.LoginLogoutTest"/>
      <class name="com.hrm.scripts.TestWeekListBoxIsSorted"/>
      <class name="com.hrm.scripts.TestTargetLanguage"/>
      <class name="com.hrm.scripts.CreateDeleteMultipleEmployees"/>
      <class name="com.hrm.scripts.TestAddUser"/>
      <class name="com.hrm.scripts.TestAdminJobWorkshiftListboxes"/>
      <class name="com.hrm.scripts.TestIncludeListBox"/>
      <class name="com.hrm.scripts.TestSearchBtnIsPresent"/>
      <class name="com.hrm.scripts.CreateDeleteEmp"/>
      <class name="com.hrm.scripts.TestVacanciesOptions"/>
      <class name="com.hrm.scripts.VerifyCSVUpload"/>
    </classes>
  </test>
</suite>
